
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: goldenrod;
  }
  
  .navbar {
    background-color: #89903d;
    color: #1b1111;
    padding: 10px;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  
  .sidebar {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .footer {
    background-color: #b7ba20;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .footer p {
    margin: 0;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    margin-right: 10px;
  }
  